div{
    height:100px;
    width:100px;
    background-color: aqua;
    border-width: 2px;
    border-style:solid;
    border-color: black;
    display:inline-block;
}

#box1{
    position: static;
}

#box2{
    position: relative;
    top:20px;
    left: 20px;
    z-index: 1;
}

#box3{
    position:absolute;
    top: 20px;
    left:20px;
}
#box4{
    position: fixed;
    right:20px;
    bottom: 20px;
}
#box5{
    position: sticky;
    top: 0px;
}
body{
    background-image: url("C:\Users\hp\Desktop\Wallpapers\1320336.png");
    background-size: cover;
}