.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid rgb(236, 236, 67);
    border-top: 10px solid rgb(68, 223, 205);
    animation: spin 1s ease-in-out 0s infinite normal;
}

@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}